<div class="banner">
  <%#= cl_image_tag("cwqgsxkitj8b4efawqfz",
        width: 400, height: 300, crop: :fill) %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg)">
    <div class="b-text container text-center">
      <h1>COCKTAIL HQ</h1>
      <h3>SHAKEN OR STIRRED? HAVE IT YOUR WAY</h3>
      <h2><%= link_to "Add a new cocktail", new_cocktail_path, class:"btn btn-add-new"%></h2>
    </div>
  </div>
</div>
<div class="cocktail-list">
  <h3>GRAB A STOOL. BROWSE THE HQ BAR</h3>
  <ul>
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-cocktail">
          <img src="https://images.pexels.com/photos/616836/pexels-photo-616836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
          <div class="card-info">
            <h3> <%= link_to cocktail.name, cocktail_path(cocktail)%> </h3>
          </div>
        </div>
      <% end %>
    </div>
  </ul>
</div>
