<div class="banner">
  <%#= cl_image_tag("cwqgsxkitj8b4efawqfz",
        width: 400, height: 300, crop: :fill) %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg)">
    <div class="b-text container text-center">
      <h1>COCKTAIL HQ</h1>
      <h3>SHAKEN OR STIRRED? HAVE IT YOUR WAY</h3>
      <h2><%= link_to new_cocktail_path, class:"btn btn-add-new" do%>
        <i class="fas fa-plus-circle"><p>Add A New Cocktail</p> </i>
      <% end %>
      </h2>
    </div>
  </div>
</div>
<div class="cocktail-list">
  <h3>GRAB A STOOL. BROWSE THE HQ BAR</h3>
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-cocktail">
          <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-info">
            <h3> <%= link_to cocktail.name, cocktail_path(cocktail)%> </h3>
          </div>
        </div>
      <% end %>
    </div>
</div>
