<div class="">
  <%#= cl_image_tag("cwqgsxkitj8b4efawqfz",
        width: 400, height: 300, crop: :fill) %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg)">
    <div class="b-text container ">
      <h1>COCKTAIL HQ</h1>
      <h3>SHAKEN OR STIRRED? HAVE IT YOUR WAY</h3>
    </div>
  </div>
</div>

<div class="cocktail-list">
  <h3>GRAB A STOOL. BROWSE THE HQ BAR</h3>
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-cocktail">
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, height: 400, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag "no-cocktail.png", height: 300, width: 400, crop: :fill, alt: "A cocktail"%>
          <% end %>
          <%#= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-info">
            <h3> <%= link_to cocktail.name, cocktail_path(cocktail)%> </h3>
          </div>
        </div>
      <% end %>
    </div>
</div>
