<div class="banner">
  <%#= cl_image_tag("cwqgsxkitj8b4efawqfz",
        width: 400, height: 300, crop: :fill) %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg)">
    <div class="container">
      <h1>COCKTAIL HQ</h1>
      <h3>SHAKEN OR STIRRED? HAVE IT YOUR WAY</h3>
      <h2><%= link_to "Add a new cocktail", new_cocktail_path, class:"btn btn-info"%></h2>
    </div>
  </div>
</div>
<div class="cocktail-list">
  <h3>GRAB A STOOL. BROWSE THE HQ BAR</h3>
  <ul>
    <% @cocktails.each do |cocktail| %>
    <!--   <li><%#= cocktail.name %></li> -->
      <li>
      <%= link_to cocktail.name, cocktail_path(cocktail), class:"btn btn-info"%>
      </li>
    <% end %>
  </ul>
</div>
