// Specific CSS for your home-page
body {
    background-color: #eaf2f1 !important;
}

.icon-font {
  font-family: 'Josefin Sans', sans-serif;
}

* {
  // padding: 0 !important;
  // margin: 0 !important;
  // line-height: 0 !important;
  font-family: 'arial' !important;
}

// REPLACE JOSEFIN FONT WITH SOMETHING ELSE
