// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "cards";
@import "footer";
@import "navbar";
@import "new-cards";

.banner {
  background-size: cover;
  background-position: center;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;

}

.b-text{
  text-align: center;
  padding: 130px 0px;


  h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: bold;
  }

  h3 {
    color: #e1e8f2;
    font-family: 'Raleway', sans-serif;
    margin: 0px ;
    // font-weight: lighter;
  }

  p {
    font-family: 'Raleway', sans-serif;
  }
}

.cocktail-list {
  text-align: center;
  background-size: cover;
  background-color: #eaf2f1;
  padding: 10px;

   h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 10px;
  }
}

.search {
  display: flex;


  input {
    margin: 2px;
    font-family: 'Raleway', sans-serif;
  }
}
