// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "footer";

.banner {
  background-size: cover;
  background-position: center;
  height: 550px;
  display: flex;
  align-items: center;

}

.b-text{
  text-align: center;
  padding: 130px 0px;


  h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: bold;
  }

  h3 {
    color: #e1e8f2;
    font-family: 'Raleway', sans-serif;
    margin: 0px ;
    // font-weight: lighter;
  }

  p {
    font-family: 'Raleway', sans-serif;
  }
}

.cocktail-list {
  text-align: center;
  background-size: cover;
  background-color: #eaf2f1;
  padding: 10px;
  height: 1000px;
   h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 10px;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 5px;
}

@media(max-width: 992px) {
  .cards {
   grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 650px) {
  .cards {
   grid-template-columns: 1fr;
  }
}

.card-cocktail {
  overflow: hidden;
  background: $gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;


  a {
    color: white;
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .card-info {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    text-align: center;
  }
}

