@import "button";

body {
  font-family: 'Raleway', sans-serif;
}

.navbar-main {
  background: $gray;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 8px 24px;
  text-align: center;
  align-items: center;
   a {
    color: white;
    font-family: 'Raleway', sans-serif;
  }
  // position: sticky;
  // top: 0;
}

.navbar-main .navbar-collapse {
  flex-grow: 0;
}

.navbar-main .navbar-logo img {
  width: 40px;
}

.navbar-main li {
  display: inline;
}

#navbarCollapse {
  justify-content: right;
}

#search-cocktails {
  font-family: 'Raleway', sans-serif;
}

.logo {

  h3 {
    margin-top: 10px;
  }

  a {
    text-decoration: none !important;

    &:hover {
      color: $aqua;
    }
  }
}
