@import "button";

.navbar-main {
  background: $gray;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 8px 24px;
  text-align: center;
  align-items: center;
   a {
    color: white;
    font-family: 'Josefin Sans';
  }
}

.navbar-main .navbar-collapse {
  flex-grow: 0;
}

.navbar-main .navbar-logo img {
  width: 40px;
}

.navbar-main li {
  display: inline;
}

#navbarCollapse {
  justify-content: right;
}

#search-cocktails {
  font-family: 'Josefin Sans';
}
